# Editors / OS
/.vscode/
/.idea/
/.DS_Store

# Node / Expo
/node_modules/
/.expo/
/exposhared/
/dist/
/web-build/
/metro-health-check*

# Native build outputs
/android/
/ios/

# Env & secrets
/.env
/.env.*
*.keystore
/*.p12
*.pem

# TypeScript cache
*.tsbuildinfo/expo-env.d.ts
